<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires constant Bluetooth access to function properly.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires Bluetooth access to function properly.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires calendar access to function properly.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is for the user to select photos or take photos through the camera and post them on their profile, All files are stored locally on the phone, we do not use them as external data.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to function properly.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires constant access to your location in order to track your position, even when the screen is off or the app is in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Inmigra ccess to modify the user&apos;s profile picture. Allow access to photo library: Access to the photo gallery is for the user to select profile photos. All files are stored locally on the phone, we do not use them as external data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Inmigra USA requires to access your location to show you businesses near your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Inmigrausa need microphone access to record sounds</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires motion detection access to function properly.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Inmigrausa App requires to access photo library for the user to select photos or take photos through the camera and post them on their profile, all files are stored locally on the phone, we do not use them as external data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Inmigrausa App requires to access photo library for the user to select photos or take photos through the camera and post them on their profile all files are stored locally on the phone, we do not use them as external data.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app requires reminders access to function properly.</string>
</dict>
</plist>
